@charset "UTF-8";
body {
  background: #F8F8F8;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 12pt; }

html {
  font-size: 82%; }

input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text; }

.share-center ul li {
  padding: 1rem;
  border-bottom: 1px #e3e3e3 solid;
  background: #fff;
  font-size: 11pt;
  color: #666; }
  .share-center ul li .title {
    width: 90%;
    height: 12pt;
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 12pt; }
  .share-center ul li .state {
    padding: .2rem .3rem;
    border-radius: 2px;
    font-size: 11pt;
    color: #fff;
    background: #FCA51A;
    margin-right: 1rem; }
    .share-center ul li .state.ing {
      background: #0DA2EB; }
    .share-center ul li .state.stop {
      background: #ccc; }
  .share-center ul li .state-num {
    color: #999;
    margin-right: 1rem; }
    .share-center ul li .state-num b {
      color: #0DA2EB;
      margin: 0 .3rem; }
  .share-center ul li .money {
    color: #999; }
    .share-center ul li .money b {
      color: #FB473B;
      margin: 0 .3rem; }
  .share-center ul li .icon-chevron-right {
    float: right;
    position: relative;
    top: -1rem;
    color: #ccc; }

.share-page {
  background: #65c2ec url(/image/villi/bg.png) no-repeat center 0;
  background-size: cover;
  color: #666;
  position: relative; }
  .share-page .share-page-content {
    height: 52rem;
    text-align: center; }
    .share-page .share-page-content .pop {
      width: 20rem;
      height: 8rem;
      display: inline-block;
      background: url(/image/villi/pop1.png) no-repeat;
      margin-top: 2rem;
      margin-left: 5rem; }
      .share-page .share-page-content .pop p {
        line-height: 1.5em;
        padding-top: .7rem;
        margin-left: -4.5rem; }
  .share-page .villi-q {
    width: 18rem;
    height: 19rem;
    background: url(/image/villi/jxw1.png) no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    position: absolute;
    left: 50%;
    bottom: 37.7rem;
    margin-left: -6.5rem; }
  .share-page .yun1 {
    position: absolute;
    bottom: 12rem;
    z-index: 10;
    width: 100%;
    height: 7rem;
    padding-top: 8rem;
    background: url(/image/villi/yun1.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 1.5em; }
    .share-page .yun1 b {
      color: #F9463D;
      margin: 0 .5rem; }
  .share-page .qr-code-container {
    width: 14rem;
    height: 14rem;
    padding: 2rem;
    background: #fff;
    position: absolute;
    z-index: 9;
    border-radius: 2px;
    border: 1px #eee solid;
    bottom: 21rem;
    left: 50%;
    margin-left: -9rem; }
    .share-page .qr-code-container img {
      width: 14rem;
      height: 14rem; }
  .share-page .qr-code {
    width: 14rem;
    height: 14rem;
    padding: 2rem;
    background: #fff;
    position: absolute;
    z-index: 9;
    border-radius: 2px;
    border: 1px #eee solid;
    bottom: 21rem;
    left: 50%;
    margin-left: -9rem; }
    .share-page .qr-code img {
      width: 14rem;
      height: 14rem; }
  .share-page .yun2 {
    position: absolute;
    bottom: 12rem;
    z-index: 8;
    width: 100%;
    height: 14rem;
    background: url(/image/villi/yun2.png) no-repeat;
    background-size: 100% 100%; }
  .share-page footer {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 12rem;
    background: #555;
    bottom: 0;
    left: 0;
    border-top: 2px #444 solid; }
    .share-page footer p {
      padding: 0 1.5rem;
      padding-top: 1rem;
      line-height: 1.5em;
      font-size: 11pt;
      color: #999;
      position: relative;
      padding-left: 3.5rem; }
      .share-page footer p .dot {
        width: .5rem;
        height: .5rem;
        display: inline-block;
        margin-left: -1.5rem;
        top: -2px;
        position: relative;
        background: #fff; }
      .share-page footer p b {
        margin: 0 .5rem;
        color: #F9463D;
        position: relative; }

a {
  text-decoration: none; }

input[type=button], input[type=text], input[type=password] {
  -webkit-appearance: none;
  outline: none; }

.notice {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #fff; }
  .notice i {
    margin-right: .5rem; }
  .notice.green {
    background: #63BCAB;
    border-bottom: 1px #5BAD9D solid; }
  .notice a {
    color: #ff6600; }

.view-explain {
  background: #EAEAEA;
  color: #888;
  padding: 1rem;
  line-height: 2rem;
  border-bottom: 1px #ccc solid; }
  .view-explain.answer {
    padding: 1.5rem;
    min-height: 15rem;
    position: relative;
    padding-bottom: 3rem; }
    .view-explain.answer .pulldown {
      width: 4rem;
      height: 2rem;
      background: #ccc;
      display: inline-block;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -2rem;
      border-top-radius: 3px; }

.clearfix {
  overflow: hidden;
  zoom: 1; }

.input {
  margin-bottom: 0;
  padding-bottom: 1%;
  margin-right: 5%; }

.switchery {
  float: right; }

label {
  font-size: 11pt;
  position: relative;
  top: 2px; }

.title_desc {
  height: inherit; }

.l {
  float: left; }

.r {
  float: right; }

.mr5 {
  margin-right: 5%; }

.mt3 {
  margin-top: 3%; }

.mt5 {
  margin-top: 5%; }

.mb2 {
  margin-bottom: 2%; }

.f14 {
  font-size: 14pt; }

.f13 {
  font-size: 13pt; }

.dn {
  display: none; }

.icon {
  position: relative;
  font-size: 10pt;
  margin-right: 1rem; }

.btn {
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  background: #fff;
  border: 1px #eaeaea solid;
  margin-top: 1rem;
  display: block;
  color: #666;
  border-radius: 2px;
  font-size: 11pt; }
  .btn.l {
    float: left;
    width: 47%;
    border-color: #0DA1EB;
    color: #0DA1EB; }
  .btn.r {
    float: right;
    width: 47%; }
  .btn.gay {
    background: #ccc;
    color: #fff;
    border: 1px #ccc solid; }
  .btn.blue {
    background: #0DA1EB;
    color: #fff;
    border: 1px #0281ca solid; }
  .btn.error {
    background: #FA5E5B;
    color: #fff;
    border: none; }
  .btn.cancel {
    width: 89%;
    background: #E3E3E3;
    color: #666;
    position: absolute;
    left: 5%;
    bottom: 3%;
    z-index: 2; }
  .btn.submit-survey {
    background: #0DA1EB;
    color: #fff;
    border: 1px #0281ca solid;
    font-size: 13pt; }

.submitdiv {
  position: absolute;
  width: 90%;
  bottom: 3rem; }

.sbtn {
  width: 4rem;
  height: 2.6rem;
  line-height: 2.6rem;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  text-align: center;
  background: #0DA1EB;
  font-size: 11pt;
  border-radius: 2px;
  color: #fff;
  border: 1px #0281ca solid; }
  .sbtn.return {
    left: 1rem; }
  .sbtn.view {
    right: 1rem; }

.tip {
  text-align: center;
  padding: 1.5rem;
  color: #fff;
  background: #63BCAB;
  position: fixed;
  top: 5.5rem;
  width: 100%;
  z-index: 999; }

header {
  width: 100%;
  height: 20rem;
  background: #0DA1EB;
  display: table;
  border-bottom: 1px #0281ca solid; }
  header.threed {
    transition: all .6s linear 0s;
    -moz-transition: all .6s linear 0s;
    -webkit-transition: all .6s linear 0s;
    -o-transition: all .6s linear 0s;
    transform: translateY(-15.5rem);
    -webkit-transform: translateY(-15.5rem); }
  header.threedgo {
    transform: translateY(-15.5rem);
    -webkit-transform: translateY(-15.5rem); }
  header.threedback {
    transition: all .6s linear 0s;
    -moz-transition: all .6s linear 0s;
    -webkit-transition: all .6s linear 0s;
    -o-transition: all .6s linear 0s;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
  header.edited {
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center; }
    header.edited.red {
      background: #F95E5A;
      border-color: #F0413C; }
    header.edited.fixed {
      position: fixed;
      top: 0;
      z-index: 999; }
    header.edited #survey-title {
      overflow: hidden; }
      header.edited #survey-title .survey-name {
        height: 5rem;
        line-height: 5rem;
        text-align: center; }
        header.edited #survey-title .survey-name h2 {
          width: 62%;
          margin: 0 auto;
          overflow: hidden;
          white-space: nowrap;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
  header.edited.answer #survey-title .survey-name .title {
    width: 100%;
    font-size: 15pt; }
  header.logic {
    background: #64BCAB;
    border-bottom-color: #5BAD9D; }
  header #survey-title {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    header #survey-title .survey-name {
      width: 90%;
      max-height: 220px;
      overflow-y: auto;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-size: 13pt;
      line-height: 1.6em;
      outline: none; }
    header #survey-title .survey-name[contentEditable=true]:empty:not(:focus):before {
      content: attr(placeholder); }

.explain {
  padding: 1rem; }
  .explain #survey-explain {
    width: 94%;
    padding: 3%;
    overflow-y: auto;
    background: #fff;
    color: #666;
    font-size: 12pt;
    line-height: 1.6em;
    outline: none;
    border: 1px #e3e3e3 solid; }
  .explain #survey-explain[contentEditable=true]:empty:not(:focus):before {
    color: #ccc;
    content: attr(placeholder); }
  .explain .submit {
    margin-top: 1rem; }

.empty_tip {
  width: 100%;
  background: #EAEAEA;
  color: #999;
  border: 1px #d2d2d2 dashed;
  padding: 15% 0;
  text-align: center;
  font-size: 11pt; }

.blur {
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(5px);
  /* Chrome, Opera */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.add-question-option {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 1.16, 0.56, 0.99); }
  .add-question-option a {
    display: block;
    color: #555; }

.questionaire_list {
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 1.16, 0.56, 0.99); }
  .questionaire_list.hide {
    height: 40rem;
    overflow: hidden; }

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 1; }

.questions {
  width: 90%;
  padding: 5%;
  overflow: hidden;
  position: absolute;
  bottom: 50%;
  z-index: 2;
  transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -moz-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -webkit-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -o-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s; }
  .questions.off {
    -webkit-transform: translateY(90%); }
  .questions.questionbottom {
    bottom: 0px; }
  .questions li {
    width: 33.3%;
    float: left;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%; }
    .questions li .icon-bg {
      width: 5rem;
      height: 5rem;
      line-height: 5.7rem;
      border-radius: 5rem;
      display: inline-block;
      text-align: center; }
      .questions li .icon-bg .icon {
        font-size: 20pt;
        color: #fff;
        margin: 0; }
      .questions li .icon-bg.danxuan {
        background: #63bd9b; }
      .questions li .icon-bg.duoxuan {
        background: #0a8fda; }
      .questions li .icon-bg.paixu {
        background: #f05c53; }
      .questions li .icon-bg.tiankong {
        background: #7454b0; }
      .questions li .icon-bg.pingfen {
        background: #fdd017; }
      .questions li .icon-bg.changyong {
        background: #E3E3E3;
        line-height: 6rem; }
        .questions li .icon-bg.changyong .icon {
          color: #aaa; }
      .questions li .icon-bg.border {
        border-width: 2px;
        border-style: solid;
        border-color: #aaa; }
    .questions li .question-name {
      display: block;
      margin-top: 1rem;
      font-size: 11pt; }

.common-content {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
  z-index: 2;
  opacity: 1;
  bottom: -20%;
  transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -moz-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -webkit-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s;
  -o-transition: all 0.8s cubic-bezier(0.56, 1.64, 0.55, 0.81) 0s; }
  .common-content.show {
    -webkit-transform: translateY(-100%); }
  .common-content .common {
    width: 90%;
    overflow: hidden;
    padding-top: 5%;
    margin: 0 auto; }
    .common-content .common li {
      width: 25%;
      float: left;
      text-align: center;
      padding-top: 5%;
      margin-bottom: 5%; }
      .common-content .common li .common-icon-bg {
        background: #E3E3E3;
        width: 4rem;
        height: 4rem;
        line-height: 4.5rem;
        border-radius: 4rem;
        display: inline-block;
        text-align: center; }
        .common-content .common li .common-icon-bg .icon {
          font-size: 14pt;
          color: #fff;
          margin: 0;
          color: #484848; }
      .common-content .common li .question-name {
        display: block;
        margin-top: 1rem;
        font-size: 10pt; }

.edit {
  width: 100vw;
  padding-bottom: 5rem;
  position: relative; }
  .edit .edit-content {
    padding: 1rem; }
    .edit .edit-content .top {
      max-height: 16.5rem;
      overflow-y: auto; }
      .edit .edit-content .top .op-list-content ul {
        padding-bottom: 0; }
      .edit .edit-content .top .op-list-content li {
        padding: .5rem 1rem; }
    .edit .edit-content .middle {
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
    .edit .edit-content .bottom {
      overflow-y: auto; }
      .edit .edit-content .bottom .q-name {
        display: block;
        font-size: 12pt;
        color: #777;
        padding: 1rem;
        line-height: 1.5em;
        overflow: hidden; }
        .edit .edit-content .bottom .q-name.active {
          background: #DAE5EB; }
          .edit .edit-content .bottom .q-name.active .icon-check-circle {
            color: #63BCAB;
            float: right;
            margin-top: 4px; }
          .edit .edit-content .bottom .q-name.active .title {
            width: 84%;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
        .edit .edit-content .bottom .q-name b {
          font-weight: bold;
          color: #666;
          float: left;
          margin-right: 3%; }
        .edit .edit-content .bottom .q-name .title {
          float: left;
          height: 2rem;
          overflow: hidden;
          width: 89%; }
    .edit .edit-content .pulldown {
      text-align: center;
      border-radius: 2px;
      position: relative;
      z-index: 99; }
      .edit .edit-content .pulldown a {
        font-size: 11pt;
        color: #777;
        display: block; }
      .edit .edit-content .pulldown .current-question {
        display: block;
        font-size: 11pt;
        position: relative;
        border: 1px #e3e3e3 solid; }
        .edit .edit-content .pulldown .current-question.red .icon-pulldown {
          color: #fff;
          border-color: #E44643; }
        .edit .edit-content .pulldown .current-question .icon-pulldown {
          position: absolute;
          right: 1.3rem;
          top: 1.5rem;
          color: #ccc; }
      .edit .edit-content .pulldown ul {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 99.5%;
        border: 1px #e3e3e3 solid;
        background: #fff; }
        .edit .edit-content .pulldown ul li {
          height: 3rem;
          line-height: 3rem; }
          .edit .edit-content .pulldown ul li .icon {
            font-size: 12pt;
            position: relative;
            top: 1px; }
      .edit .edit-content .pulldown.select-question {
        background: #fff; }
        .edit .edit-content .pulldown.select-question li:nth-of-type(odd) {
          background: #f1f1f1; }
      .edit .edit-content .pulldown.select-logic {
        background: #f1f1f1; }
        .edit .edit-content .pulldown.select-logic .red {
          background: #F95D5A;
          color: #fff; }
    .edit .edit-content .option {
      margin-top: 1rem;
      padding: 3%;
      border: 1px #E3E3E3 solid;
      background: #fff;
      padding: 1rem; }
      .edit .edit-content .option .q-name {
        border-bottom: 1px #ccc dotted;
        overflow-y: hidden;
        padding: 0; }
        .edit .edit-content .option .q-name .q-name-input {
          width: 92%;
          padding-bottom: 1rem;
          font-size: 12pt;
          line-height: 1.6em;
          color: #666;
          float: left;
          outline: none; }
        .edit .edit-content .option .q-name .q-name-input-red {
          width: 92%;
          padding-bottom: 1rem;
          font-size: 12pt;
          line-height: 1.6em;
          color: #666;
          float: left;
          outline: none; }
        .edit .edit-content .option .q-name .cancel {
          color: #ccc;
          float: right; }
          .edit .edit-content .option .q-name .cancel .icon {
            font-size: 12pt;
            margin: 0; }
      .edit .edit-content .option .q-name-input-red[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        color: #f00; }
      .edit .edit-content .option .q-name-input[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        color: #ccc; }
      .edit .edit-content .option .o-name {
        overflow-y: hidden;
        position: relative;
        padding-top: 5%; }
        .edit .edit-content .option .o-name .o-name-input {
          display: inline-block;
          width: 92%;
          font-size: 12pt;
          line-height: 1.6em;
          color: #666;
          outline: none; }
        .edit .edit-content .option .o-name .o-name-input-red {
          display: inline-block;
          width: 92%;
          font-size: 12pt;
          line-height: 1.6em;
          color: #666;
          outline: none; }
        .edit .edit-content .option .o-name .op-textarea {
          padding: 2% 3%;
          border: 1px #eaeaea solid;
          background: #f8f8f8;
          height: 5rem;
          overflow-y: auto;
          font-size: 11pt;
          line-height: 1.6em;
          outline: none;
          color: #666; }
        .edit .edit-content .option .o-name .op-textarea[contentEditable=true]:empty:not(:focus):before {
          content: attr(placeholder);
          color: #ccc; }
        .edit .edit-content .option .o-name .cancel {
          color: #ccc;
          float: right;
          margin: .5rem .5% 0 0; }
          .edit .edit-content .option .o-name .cancel .icon {
            font-size: 10pt;
            margin: 0; }
      .edit .edit-content .option .o-name-input-red[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        color: #f00; }
      .edit .edit-content .option .o-name-input[contentEditable=true]:empty:not(:focus):before {
        content: attr(placeholder);
        color: #ccc; }

.add-option {
  display: inline-block;
  padding: 5px;
  padding-left: 0;
  margin-top: 5%;
  color: #777;
  font-size: 12pt; }
  .add-option .icon {
    font-size: 12pt;
    top: 1px;
    margin-right: 5px; }

.more-option {
  margin-top: 8%;
  font-size: 12pt;
  color: #666; }
  .more-option .column {
    border-top: 1px #ccc dotted;
    padding: 5% 0; }
    .more-option .column.check {
      padding: 8% 0; }
    .more-option .column.last {
      padding-bottom: 2%; }
    .more-option .column h3 {
      color: #666; }
    .more-option .column .input {
      margin-top: 5%;
      display: inline-block; }
    .more-option .column .op-title {
      height: 32px;
      line-height: 32px; }
    .more-option .column .least-most label {
      color: #666; }
    .more-option .column .least-most input[type="text"] {
      width: 8%;
      height: 20px;
      margin: 0 3%;
      border: 1px #dedede solid;
      background: #F2F2F2;
      text-align: center;
      border-radius: 2px; }

.bottom-option {
  width: 94%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 3%;
  z-index: 9; }
  .bottom-option .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    filter: alpha(opacity=40);
    position: absolute;
    left: 0;
    top: 0; }
  .bottom-option .submit,
  .bottom-option .cancel {
    position: relative;
    z-index: 99;
    height: 3rem;
    line-height: 3rem;
    margin: .5rem 0;
    background: #fff;
    color: #666;
    text-align: center;
    border-radius: 2px;
    font-size: 12pt; }
  .bottom-option .submit {
    width: 60%; }
  .bottom-option .cancel {
    width: 37%; }

.content {
  padding: 1rem; }
  .content .error-must {
    background: #F95D5A;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    height: 4rem;
    line-height: 4rem; }
  .content .q-name-content {
    padding: 0 1rem; }
  .content.answer .q-name {
    padding: 1rem 0;
    border-bottom: 1px #e3e3e3 dotted; }

.q-name {
  font-size: 12pt;
  color: #777;
  padding: 1rem;
  line-height: 1.5em;
  overflow: hidden; }
  .q-name b {
    font-weight: bold;
    color: #666;
    float: left;
    margin-right: 3%; }
  .q-name .title {
    float: left;
    width: 89%; }
  .q-name .drag-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 5;
    height: 3.8rem;
    line-height: 3.8rem;
    width: 3.5em;
    text-align: center;
    font-size: 14pt;
    background: #f8f8f8;
    border: 1px #e3e3e3 solid;
    border-radius: 0 2px 2px 0; }

.optionall {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes copyself {
  0% {
    height: 174px; }

  100% {
    height: 0px; } }

@keyframes copyitem {
  0% {
    height: 0px; }

  100% {
    height: 232px; } }

@keyframes copynaireitem {
  0% {
    height: 0px; }

  100% {
    height: 380px; } }

.op-copyself {
  -webkit-animation-name: copyself;
  animation-name: copyself; }

.op-copyitem {
  -webkit-animation-name: copyitem;
  animation-name: copyitem; }

.op-copynaireitem {
  -webkit-animation-name: copynaireitem;
  animation-name: copynaireitem; }

@keyframes delete {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.op-delete {
  -webkit-animation-name: delete;
  animation-name: delete; }

.setOverflow {
  overflow: hidden; }

.op-edited {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px #e3e3e3 solid;
  border-radius: 2px;
  position: relative; }
  .op-edited .submit {
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 11pt;
    color: #666;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    border: 1px #e3e3e3 solid;
    width: 64%;
    color: #fff;
    background: #F95D5A;
    border-color: #EF3F3A; }
  .op-edited .op-icons {
    border-top: 1px #E3E3E3 solid;
    background: #f8f8f8;
    height: 4rem;
    position: relative;
    overflow: hidden; }
    .op-edited .op-icons .dbtn {
      height: 2.8rem;
      line-height: 2.8rem;
      font-size: 11pt;
      color: #666;
      background: #fff;
      text-align: center;
      border-radius: 2px;
      border: 1px #e3e3e3 solid; }
      .op-edited .op-icons .dbtn.submit {
        width: 63%;
        color: #fff;
        background: #F95D5A;
        border-color: #EF3F3A;
        margin-top: 0.5rem;
        margin-right: 0.5rem; }
      .op-edited .op-icons .dbtn.cancel {
        width: 30%;
        margin-top: 0.5rem;
        margin-left: 0.5rem; }
  .op-edited .cancel {
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 11pt;
    color: #666;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    border: 1px #e3e3e3 solid;
    width: 32%; }
  .op-edited.drag.active {
    border-color: #64BCAB; }
    .op-edited.drag.active .drag-icon {
      background: #64BCAB;
      color: #fff;
      border-color: #65bcab; }
  .op-edited.drag .q-name .title {
    width: 70%;
    height: 15pt;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .op-edited.error {
    border-color: #F88380; }
    .op-edited.error .error-txt {
      color: #F88380; }
  .op-edited .op-edited-bottom {
    display: none; }
  .op-edited.show .op-edited-bottom {
    display: block; }
  .op-edited .fn-column {
    width: 100.3%;
    overflow: hidden;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0rem;
    z-index: 9; }
    .op-edited .fn-column.four li {
      width: 25%; }
    .op-edited .fn-column li {
      float: left;
      width: 20%;
      height: 4rem;
      line-height: 4rem; }
      .op-edited .fn-column li a {
        display: block;
        text-align: center;
        background: #F2F2F2;
        border: 1px #dedede solid;
        border-right: none;
        font-size: 15pt;
        color: #777;
        position: relative;
        left: -1px; }
        .op-edited .fn-column li a .icon {
          margin: 0;
          font-size: 12pt; }

.op-list-content ul {
  padding-bottom: 5%; }
  .op-list-content ul li {
    padding: 1rem;
    padding-bottom: 0;
    overflow: hidden;
    height: 2.2rem; }
    .op-list-content ul li .input {
      display: block;
      margin-right: 0;
      overflow: hidden; }
      .op-list-content ul li .input.logic-option label {
        width: 71%; }
      .op-list-content ul li .input.logic-option .logic-stop {
        width: 12px;
        height: 12px;
        line-height: 1rem;
        text-align: center;
        padding: 4px;
        background: #F95D5A;
        color: #fff;
        float: right;
        border-radius: 16px;
        font-size: 10pt;
        margin-top: 3px; }
      .op-list-content ul li .input.logic-option .logic-jump {
        float: right;
        margin-top: 3px; }
        .op-list-content ul li .input.logic-option .logic-jump i {
          color: #4FB7A4;
          position: relative;
          top: 1px; }
        .op-list-content ul li .input.logic-option .logic-jump b {
          margin-left: .5rem;
          color: #888; }
      .op-list-content ul li .input label {
        width: 90%;
        float: left;
        line-height: 1.5em;
        color: #777; }
      .op-list-content ul li .input input[type=checkbox] + label:before {
        top: 1px; }
      .op-list-content ul li .input input[type=checkbox] + label:after {
        top: 3px; }
    .op-list-content ul li .op-list-input {
      width: 80%;
      float: left;
      margin-left: 2.5rem;
      margin-top: 1rem;
      padding: .5rem;
      outline: none;
      border: 1px #dbdbdb solid;
      line-height: 1.5em;
      color: #666; }
    .op-list-content ul li .op-list-input[contentEditable=true]:empty:not(:focus):before {
      content: attr(placeholder);
      color: #ccc; }
.op-list-content .op-textarea {
  width: 86%;
  margin: 4% auto;
  padding: 2% 3%;
  border: 1px #eaeaea solid;
  background: #f8f8f8;
  min-height: 7rem;
  max-height: 10rem;
  overflow-y: auto;
  font-size: 11pt;
  line-height: 1.6em;
  outline: none; }
.op-list-content .op-textarea[contentEditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  color: #ccc; }
.op-list-content .star-content {
  width: 94%;
  padding: 3%;
  padding-top: 0; }
  .op-list-content .star-content dt {
    color: #666;
    font-size: 12pt;
    margin-top: 4%;
    line-height: 2rem; }
  .op-list-content .star-content dd {
    margin: 2% 0;
    overflow: hidden; }
    .op-list-content .star-content dd a {
      color: #BEBEBE;
      font-size: 25pt;
      display: inline-block; }
      .op-list-content .star-content dd a.active {
        color: #F8AE1F; }
      .op-list-content .star-content dd a.icon {
        margin-right: .6rem; }
    .op-list-content .star-content dd .score {
      font-size: 12pt;
      color: #666;
      float: right; }
      .op-list-content .star-content dd .score b {
        color: #F8AE1F;
        font-size: 25pt;
        margin-right: 5px; }
.op-list-content .sort .num {
  font-size: 11pt;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 1.8rem;
  background: #CDCDCD;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  float: left;
  position: relative;
  top: 3px; }
  .op-list-content .sort .num.one {
    background: #F95E5B; }
  .op-list-content .sort .num.two {
    background: #FEA710; }
  .op-list-content .sort .num.three {
    background: #47A798; }
.op-list-content .sort .op-name {
  margin-top: 0.2rem;
  float: left;
  width: 86%;
  line-height: 1.6em;
  color: #666; }

.my-suery-list {
  padding-bottom: 2rem; }
  .my-suery-list .my-suery {
    padding: 1rem;
    padding-bottom: 0; }
    .my-suery-list .my-suery .time {
      text-align: center;
      display: block;
      font-size: 10pt;
      color: #ccc;
      padding: 1rem 0; }
  .my-suery-list .suery-option {
    margin-top: 1rem;
    border: 1px #E3E3E3 solid;
    background: #fff;
    color: #666;
    font-size: 11pt;
    overflow: hidden;
    position: relative;
    border-radius: 2px; }
    .my-suery-list .suery-option .suery-title {
      text-align: center;
      padding: 1rem;
      line-height: 1.6em;
      font-size: 12pt; }
    .my-suery-list .suery-option .suery-option-content {
      padding: 0 1rem;
      border-top: 1px #E3E3E3 solid;
      background: #F9F9F9; }
      .my-suery-list .suery-option .suery-option-content .grey-column {
        height: 5rem;
        line-height: 4.5rem;
        text-align: center;
        color: #999; }
        .my-suery-list .suery-option .suery-option-content .grey-column b {
          font-size: 18pt;
          margin: 0 .7rem;
          position: relative;
          top: 3px; }
          .my-suery-list .suery-option .suery-option-content .grey-column b i {
            color: #0095E9; }
        .my-suery-list .suery-option .suery-option-content .grey-column a {
          margin-left: 1rem;
          color: #0DA1EB; }
        .my-suery-list .suery-option .suery-option-content .grey-column.red {
          border-top: 1px #ccc dotted; }
          .my-suery-list .suery-option .suery-option-content .grey-column.red.no-red {
            line-height: 5rem; }
            .my-suery-list .suery-option .suery-option-content .grey-column.red.no-red a {
              color: #F94E49; }
              .my-suery-list .suery-option .suery-option-content .grey-column.red.no-red a .icon-chevron-right {
                position: relative;
                top: 1px; }
          .my-suery-list .suery-option .suery-option-content .grey-column.red b {
            color: #F94E49; }
    .my-suery-list .suery-option .stop {
      border-top: 1px #E3E3E3 solid;
      padding: .5rem 1rem;
      height: 3rem;
      line-height: 3rem; }
      .my-suery-list .suery-option .stop.finished {
        text-align: center; }
      .my-suery-list .suery-option .stop .switchery {
        margin-top: .3rem; }
      .my-suery-list .suery-option .stop i {
        color: #63BCAB;
        margin-right: .5rem; }
    .my-suery-list .suery-option .op-icons {
      border-top: 1px #E3E3E3 solid;
      background: #f8f8f8;
      height: 3rem;
      padding: 1.9%; }
      .my-suery-list .suery-option .op-icons .dbtn {
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 11pt;
        color: #666;
        background: #fff;
        text-align: center;
        border-radius: 2px;
        border: 1px #e3e3e3 solid; }
        .my-suery-list .suery-option .op-icons .dbtn.submit {
          width: 64%;
          color: #fff;
          background: #F95D5A;
          border-color: #EF3F3A; }
        .my-suery-list .suery-option .op-icons .dbtn.cancel {
          width: 32%; }
      .my-suery-list .suery-option .op-icons .op-icons-list {
        width: 100%;
        height: 4rem;
        overflow: hidden;
        border-top: 1px #E3E3E3 solid;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #f8f8f8;
        z-index: 9; }
        .my-suery-list .suery-option .op-icons .op-icons-list li {
          width: 20%;
          height: 4rem;
          line-height: 4rem;
          float: left;
          text-align: center; }
          .my-suery-list .suery-option .op-icons .op-icons-list li a {
            border-right: 1px #E3E3E3 solid;
            display: block;
            color: #888;
            font-size: 14pt; }

.quota {
  width: 100%;
  background: #0DA1EB; }
  .quota .quota-num {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    color: #fff;
    font-size: 14pt;
    position: relative;
    top: -1rem; }
    .quota .quota-num .quota-num-input {
      max-width: 60%;
      height: 50pt;
      overflow: hidden;
      display: inline-block;
      border: none;
      background: #0DA1EB;
      font-size: 50pt;
      color: #fff;
      margin: 0 1rem;
      outline: none;
      position: relative;
      top: 1rem; }
    .quota .quota-num .quota-num-input[contentEditable=true]:empty:not(:focus):before {
      content: attr(placeholder);
      color: #FFF; }
  .quota .view-results {
    background: #0280CA;
    padding: 1rem 1.5rem;
    color: #fff; }
    .quota .view-results .op-title {
      margin-top: .5rem; }

.red-option {
  padding: 0 1.5rem;
  margin-top: 1.5rem; }
  .red-option .f13 {
    text-align: center;
    margin: 2rem 0;
    line-height: 1.5em;
    color: 888; }
  .red-option .red-tab ul {
    overflow: hidden; }
    .red-option .red-tab ul li {
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      width: 47%;
      display: inline-block;
      border: 1px #e3e3e3 solid;
      border-radius: 2px; }
      .red-option .red-tab ul li.random {
        border-color: #F95D5A; }
        .red-option .red-tab ul li.random a {
          color: #F95D5A; }
        .red-option .red-tab ul li.random.active {
          background: #F95D5A; }
          .red-option .red-tab ul li.random.active a {
            background: #F95D5A;
            color: #FFF; }
      .red-option .red-tab ul li.common {
        border-color: #FEA712; }
        .red-option .red-tab ul li.common a {
          color: #FEA712; }
        .red-option .red-tab ul li.common.active {
          background: #FEA712; }
          .red-option .red-tab ul li.common.active a {
            background: #FEA712;
            color: #fff; }
      .red-option .red-tab ul li a {
        display: block;
        background: #fff; }
        .red-option .red-tab ul li a i {
          margin-right: .5rem;
          font-size: 14pt;
          position: relative;
          top: 2px; }
  .red-option .red-tab .content {
    padding: 0;
    margin: 0;
    margin-top: -8px;
    min-height: 1.5rem;
    border-bottom: 1px #ccc dotted; }
    .red-option .red-tab .content .red-input {
      color: #666;
      background: #E3E3E3;
      padding: 1rem;
      border-radius: 2px;
      margin-top: 1.5rem; }
      .red-option .red-tab .content .red-input input {
        display: inline-block;
        max-width: 7rem;
        border: none;
        background: #e3e3e3;
        text-align: right;
        padding: 0 1rem;
        position: relative;
        top: -1px; }
    .red-option .red-tab .content .input-txt {
      text-align: center;
      margin: 1rem 0;
      font-size: 10pt;
      color: #888; }
    .red-option .red-tab .content .remain {
      font-size: 12pt;
      text-align: center;
      display: block;
      margin: 2rem 0; }
      .red-option .red-tab .content .remain b {
        margin-right: 1rem;
        color: #333; }
      .red-option .red-tab .content .remain em {
        color: red; }
  .red-option .red-tab .op-btn {
    padding: 1.5rem 0; }
    .red-option .red-tab .op-btn .btn {
      margin-top: 0; }
    .red-option .red-tab .op-btn .btnleft {
      float: left;
      width: 26%; }
    .red-option .red-tab .op-btn .btnright {
      float: right;
      width: 67%; }
    .red-option .red-tab .op-btn .recharge {
      background: #F95D5A;
      color: #fff;
      border-color: #EF332E; }
    .red-option .red-tab .op-btn .share {
      background: #0DA1EB;
      color: #fff;
      border-color: #0091E2; }
    .red-option .red-tab .op-btn .op-cancel {
      background: #E3E3E3; }
    .red-option .red-tab .op-btn .op-cancel-top {
      margin-top: 1rem; }

.community .survey-list {
  background: #fff; }
  .community .survey-list li {
    overflow: hidden;
    padding: 1.2rem;
    border-bottom: 1px #e3e3e3 solid; }
    .community .survey-list li .survey-name {
      display: block;
      margin-bottom: 1rem;
      line-height: 1.5em;
      color: #333; }
    .community .survey-list li span {
      color: #ccc;
      font-size: 10pt; }
    .community .survey-list li .time {
      float: left; }
    .community .survey-list li .collect {
      float: right; }
      .community .survey-list li .collect .red {
        color: #F95D5A; }

.partake {
  padding: 0 1.5rem 1.5rem 1.5rem; }
  .partake h2 {
    height: 4.7rem;
    line-height: 4.7rem;
    color: #666;
    text-align: center;
    border-bottom: 1px #ccc dotted; }
  .partake .btn {
    margin-top: 0; }
  .partake ul {
    padding: 1rem 0; }
    .partake ul li {
      font-size: 10pt;
      height: 2rem;
      line-height: 2rem;
      margin: 1rem 0; }
      .partake ul li .head {
        float: left;
        width: 2rem;
        height: 2rem; }
        .partake ul li .head img {
          width: 2rem;
          height: 2rem;
          border-radius: 2rem; }
      .partake ul li .name {
        width: 38%;
        color: #333;
        height: 2rem;
        overflow: hidden;
        float: left;
        margin-left: .6rem;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
      .partake ul li .money {
        float: right;
        margin-right: 1rem;
        color: #ccc; }
        .partake ul li .money i {
          color: #F95D5A; }
      .partake ul li .time {
        float: right;
        color: #ccc; }

.container .divpadding {
  padding: 1rem; }
.container .thanks {
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -4rem;
  margin-top: -5rem;
  width: 8rem;
  height: 10rem;
  text-align: center; }
  .container .thanks img {
    width: 8rem;
    height: 8rem;
    display: block; }
  .container .thanks b {
    height: 1rem;
    line-height: 1rem;
    display: block;
    margin-top: 1rem;
    color: #666; }
.container .red-content {
  height: 30rem;
  text-align: center;
  position: relative;
  margin: 7rem auto; }
  .container .red-content .red {
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    background: url(/image/villi/red.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative; }
    .container .red-content .red .money {
      width: 96%;
      height: 4rem;
      margin: 0 auto;
      background: url(/image/villi/moneys.png) no-repeat center 0;
      background-size: 100% 220%;
      position: absolute;
      bottom: 0;
      left: 1rem;
      z-index: 9; }
    .container .red-content .red .out {
      display: inline-block;
      position: absolute;
      background: url(/image/villi/money_b.png) no-repeat center center;
      background-size: 100% 100%;
      bottom: 3rem; }
      .container .red-content .red .out.m1 {
        width: 3rem;
        height: 3rem;
        left: 0;
        bottom: 4rem;
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg); }
      .container .red-content .red .out.m2 {
        width: 4rem;
        height: 4rem;
        left: 14%;
        bottom: 5rem;
        transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg); }
      .container .red-content .red .out.m3 {
        width: 5rem;
        height: 5rem;
        left: 35%;
        bottom: 4rem; }
      .container .red-content .red .out.m4 {
        width: 3rem;
        height: 3rem;
        left: 70%;
        transform: rotate(16deg);
        -webkit-transform: rotate(16deg); }
      .container .red-content .red .out.m5 {
        width: 4rem;
        height: 4rem;
        left: 52%;
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg); }
      .container .red-content .red .out.m6 {
        width: 4rem;
        height: 4rem;
        left: 82%;
        bottom: 5rem;
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg); }
  .container .red-content .red2 {
    height: 25rem;
    margin: 0 auto;
    background: url(/image/villi/red2.png) no-repeat center center;
    background-size: 100% 100%; }
    .container .red-content .red2 span {
      color: #fff;
      display: block;
      padding: 2.5rem 0 1.5rem 0; }
      .container .red-content .red2 span b {
        font-size: 50pt; }
    .container .red-content .red2 .rbtn {
      display: block;
      text-align: center;
      width: 22rem;
      height: 4.5rem;
      line-height: 4.5rem;
      border-radius: 2px;
      margin: 0 auto;
      margin-top: 1rem; }
    .container .red-content .red2 .share-more {
      background: #FBDE24;
      color: #F9463D;
      border: 1px #FBDE24 solid; }
    .container .red-content .red2 .view-result {
      color: #fff;
      border: 1px #fff solid; }
.container .container-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11.5rem; }
  .container .container-bottom .btn {
    width: 94%;
    margin: 0 auto; }
    .container .container-bottom .btn i {
      margin-right: .5rem;
      position: relative;
      top: 1px; }
    .container .container-bottom .btn.share {
      margin-bottom: 1rem; }
    .container .container-bottom .btn.result {
      border-color: #0DA0EA;
      color: #0DA0EA; }

.result .result-list .result-list-content.star {
  padding: 0 .7rem; }
.result .result-list .title {
  background: #F2F2F2;
  padding: 1.5rem;
  overflow: hidden;
  border-bottom: 1px #ECECEC solid; }
  .result .result-list .title b {
    color: #333;
    font-weight: bold;
    float: left; }
  .result .result-list .title h2 {
    width: 70%;
    height: 12pt;
    overflow: hidden;
    color: #666;
    float: left;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-left: 1rem; }
  .result .result-list .title span {
    color: #999;
    float: right; }
.result .result-list h3 {
  height: 3rem;
  line-height: 3rem;
  padding-left: 1.5rem;
  color: #666;
  font-size: 11pt;
  text-align: center; }
  .result .result-list h3:nth-child(2) {
    margin-top: 3rem; }
  .result .result-list h3 b {
    font-size: 17pt;
    margin: 0 .3rem;
    position: relative;
    top: 2px; }
    .result .result-list h3 b.one {
      color: #F95D5A; }
    .result .result-list h3 b.two {
      color: #FEA000; }
    .result .result-list h3 b.three {
      color: #0280CA; }
.result .result-list ul {
  padding: 0 1.5rem 3rem 1.5rem; }
  .result .result-list ul li {
    overflow: hidden;
    margin-top: 3rem;
    color: #666; }
    .result .result-list ul li .op-name {
      width: 80%;
      font-size: 11pt;
      height: 11pt;
      overflow: hidden;
      display: block;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      float: left; }
    .result .result-list ul li .num {
      float: right;
      font-size: 11pt;
      color: #19A2EB; }
    .result .result-list ul li .progress-bar {
      float: left;
      width: 100%;
      height: .3rem;
      background: #E9E9E9;
      margin-top: 1.5rem; }
      .result .result-list ul li .progress-bar .progress {
        height: .3rem;
        display: block;
        background: #19A2EB; }
.result .result-list .txt-content li {
  margin-top: 0;
  padding: 2rem 0;
  border-bottom: 1px #ccc dotted; }
.result .result-list .txt-content .head {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3.3rem;
  float: left;
  margin-right: 1rem;
  overflow: hidden; }
  .result .result-list .txt-content .head img {
    width: 3.3rem;
    height: 3.3rem; }
.result .result-list .txt-content .name {
  display: inline-block;
  padding-left: 4rem;
  margin-left: -4rem;
  color: #333; }
.result .result-list .txt-content .txt {
  display: block;
  padding-left: 4.3rem;
  margin-top: .5rem;
  line-height: 1.5em; }

.star {
  padding: 0 .6rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  overflow: hidden;
  border-bottom: 1px #ccc dotted; }
  .star p {
    padding: 0 1rem 2rem 1rem;
    overflow: hidden;
    color: #666; }
    .star p .op-title {
      width: 70%;
      height: 12pt;
      font-size: 12pt;
      float: left;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .star p .average {
      float: right; }
      .star p .average i {
        color: #1AA2EB;
        margin-left: .5rem; }

.chart-content {
  width: 20%;
  float: left;
  text-align: center; }
  .chart-content .chart {
    width: 55px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 10pt; }
    .chart-content .chart.one {
      color: #A9A9A9; }
    .chart-content .chart.two {
      color: #AED27B; }
    .chart-content .chart.three {
      color: #72BBE7; }
    .chart-content .chart.four {
      color: #EFB900; }
    .chart-content .chart.five {
      color: #F9504B; }
    .chart-content .chart canvas {
      position: absolute;
      left: 0;
      top: 0; }
  .chart-content b {
    margin-top: 1rem;
    display: block;
    color: #666;
    font-size: 10pt; }

.report {
  width: 100%;
  height: 11.5rem;
  position: fixed;
  bottom: 0;
  border-top: 1px #ececec solid; }
  .report.error {
    height: 14.3rem; }
  .report .shadow {
    background: #fff; }
  .report .report-content {
    position: relative;
    z-index: 99;
    padding: 1rem; }
    .report .report-content .error {
      text-align: center;
      padding-bottom: 1rem;
      color: #F95D5A; }
      .report .report-content .error i {
        margin-right: .5rem; }
    .report .report-content .input-content {
      border: 1px #e3e3e3 solid;
      height: 4rem;
      position: relative;
      background: #fff;
      border-radius: 2px;
      margin-bottom: 1rem; }
      .report .report-content .input-content a {
        color: #CBCBCB;
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        z-index: 9; }
      .report .report-content .input-content .mail {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        position: absolute;
        left: 1;
        top: 1;
        z-index: 9;
        background: #ddd; }
        .report .report-content .input-content .mail i {
          color: #666;
          position: relative;
          top: 1px; }
      .report .report-content .input-content input {
        width: 60vw;
        position: absolute;
        left: 0;
        top: 0;
        height: 1rem;
        padding: 1.5rem;
        padding-left: 5rem;
        border: none; }
  .report .cancel, .report .send {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 2px; }
  .report .cancel {
    width: 40%;
    background: #f8f8f8;
    color: #666;
    border: 1px #dbdbdb solid; }
  .report .send {
    width: 55%;
    background: #0DA1EB;
    color: #fff;
    border: 1px #0096E4 solid;
    float: right; }
    .report .send.loading {
      background: #86D1F5;
      border-color: #77CCF4; }

.record-wrap {
  padding-bottom: 6rem; }

.record li {
  font-size: 10pt;
  height: 2rem;
  line-height: 2rem;
  padding: 1rem;
  border-bottom: 1px #e3e3e3 solid;
  background: #fff; }
  .record li .head {
    float: left;
    width: 2rem;
    height: 2rem; }
    .record li .head img {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem; }
  .record li .name {
    width: 38%;
    color: #333;
    height: 2rem;
    overflow: hidden;
    float: left;
    margin-left: .6rem;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .record li .money {
    float: right;
    margin-right: 1rem;
    color: #ccc; }
    .record li .money i {
      color: #F95D5A; }
  .record li .time {
    float: right;
    color: #ccc; }

.add-red {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3% 0;
  border-top: 1px #e3e3e3 solid; }
  .add-red .shadow {
    background: #fff; }
  .add-red .red {
    position: relative;
    z-index: 9;
    color: #fff;
    background: #F95D5A;
    border-color: #ED3B37;
    width: 94%;
    margin: 0 auto; }

.my-red {
  background: #fff; }
  .my-red h2 {
    margin-left: 34%;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #E23D85;
    margin-bottom: 0.5rem; }
  .my-red .red-content {
    background: #FFFBF4;
    color: #F85E5A;
    border-bottom: 1px #e3e3e3 solid;
    text-align: center;
    padding: 5rem 0; }
    .my-red .red-content div {
      padding-bottom: 1rem; }
      .my-red .red-content div b {
        font-size: 45pt;
        margin-right: .5rem; }
    .my-red .red-content span a {
      margin-left: 1rem;
      color: #11A2EB; }
  .my-red ul li {
    padding: 1rem;
    font-size: 11pt;
    border-bottom: 1px #e3e3e3 solid;
    overflow: hidden; }
    .my-red ul li span {
      display: inline-block; }
    .my-red ul li .state-img {
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      color: #fff;
      border-radius: 2px;
      text-align: center;
      font-size: 14pt;
      float: left;
      margin-right: 1rem; }
      .my-red ul li .state-img img {
        width: 4rem;
        height: 4rem;
        border-radius: 2px; }
      .my-red ul li .state-img.green {
        background: #46A798; }
      .my-red ul li .state-img.red {
        background: #F85E5A; }
      .my-red ul li .state-img.orange {
        background: #FEA712; }
      .my-red ul li .state-img.blue {
        background: #0CA2EA; }
    .my-red ul li .title {
      width: 65%;
      height: 11pt;
      margin-bottom: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .my-red ul li .showtitle {
      width: 65%;
      height: 11pt;
      margin-bottom: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      margin-top: 1.3rem; }
    .my-red ul li .time {
      float: left;
      width: 15rem;
      color: #ccc; }
    .my-red ul li .state {
      float: right;
      color: #46A798; }
    .my-red ul li .money {
      float: right;
      color: #F85E5A; }

.invitation_friend {
  text-align: center; }
  .invitation_friend .title {
    height: 4rem;
    line-height: 4rem;
    background: #0C8DCC;
    color: #fff; }
  .invitation_friend .content {
    margin-top: 2rem;
    text-align: center; }
    .invitation_friend .content .qr-code {
      width: 180px;
      height: 180px;
      padding: 10px;
      border: 1px #dbdbdb solid;
      margin: 2rem auto;
      background: #fff; }
    .invitation_friend .content .zw {
      margin-top: 2rem;
      width: 200px;
      height: 200px;
      margin: 0 auto; }
    .invitation_friend .content .text {
      margin-top: 2rem;
      color: #FFF;
      text-align: center; }

.binding {
  width: 90%;
  margin: 0 auto; }
  .binding h2 {
    text-align: center;
    margin: 2rem 0; }
    .binding h2 b {
      color: #FA5E5B;
      font-size: 14pt;
      margin: 0 .5rem; }
  .binding p {
    margin-top: 1rem; }
    .binding p .input-wrap {
      border: 1px #ccc solid;
      display: block;
      position: relative;
      padding: 1rem;
      background: #fff; }
      .binding p .input-wrap a {
        font-size: 12pt; }
      .binding p .input-wrap.error {
        border-color: #FA5E5B; }
    .binding p .restart {
      float: right;
      color: #19A2EB;
      margin-top: .5rem; }
    .binding p .num {
      float: right;
      color: #999;
      margin-top: .5rem; }
    .binding p .send {
      float: right;
      color: #19A2EB;
      margin-top: .5rem; }
    .binding p input {
      width: 60%;
      border: none;
      color: #444; }

.share-content {
  background: #0da1eb; }
  .share-content .share-top {
    width: 100%; }
    .share-content .share-top img {
      width: 100%; }
  .share-content .share-binding {
    position: relative;
    width: 100%; }
    .share-content .share-binding .share-middle {
      width: 65%;
      float: left;
      margin-left: 17%;
      margin-top: -4%; }
      .share-content .share-binding .share-middle img {
        width: 100%; }
      .share-content .share-binding .share-middle .content {
        position: absolute;
        text-align: center;
        color: #0da1eb;
        width: 45%;
        left: 22%;
        top: 13%;
        line-height: 1.5rem; }
        .share-content .share-binding .share-middle .content b {
          color: red; }
  .share-content .share-click {
    width: 100%;
    padding-top: 3rem;
    height: 30rem; }
    .share-content .share-click .table {
      width: 86%;
      height: 12rem;
      margin-left: 5%;
      background: #fff;
      -moz-border-radius: .8rem;
      /* Gecko browsers */
      -webkit-border-radius: .8rem;
      /* Webkit browsers */
      border-radius: .8rem;
      /* W3C syntax */
      padding: 0.5rem; }
      .share-content .share-click .table .content {
        height: 9.5rem;
        width: auto;
        border: 1px dashed #0DA1EB; }
        .share-content .share-click .table .content div {
          height: 3.3rem; }
        .share-content .share-click .table .content p {
          color: #0DA1EB;
          margin-bottom: 1rem;
          line-height: 1.8rem; }
          .share-content .share-click .table .content p .dot {
            color: #fff;
            display: block;
            width: 1.8rem;
            height: 1.8rem;
            float: left;
            text-align: center;
            margin-right: 0.2rem;
            background: url(/image/villi/sharenum.png);
            background-size: 1.8rem 1.8rem;
            background-repeat: no-repeat; }
          .share-content .share-click .table .content p b {
            color: red; }
    .share-content .share-click .tablebottom {
      width: 86%;
      margin-left: 35%;
      margin-top: -0.1rem; }
      .share-content .share-click .tablebottom img {
        width: 2.2rem; }

.share-bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .share-bottom img {
    width: 100%; }

.money-tip {
  width: 96.5%;
  background: #FFCD00;
  line-height: 1.6em;
  position: relative;
  font-size: 11pt;
  padding: .5rem;
  margin-top: 0.8rem; }
  .money-tip i {
    float: left;
    margin-top: 0.3rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 1rem;
    text-align: center;
    background: #F5460F;
    color: #fff;
    font-style: normal;
    display: inline-block;
    display: block;
    font-size: 11pt; }
  .money-tip .tipcontent {
    margin-left: 1.1rem;
    display: block; }
  .money-tip .arr {
    width: 1px;
    height: 1px;
    border: .4rem solid #FFCD00;
    border-left-color: #F8F8F8;
    border-right-color: #F8F8F8;
    border-bottom-color: #F8F8F8;
    position: absolute;
    right: .8rem;
    bottom: -.8rem; }

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=80);
  z-index: 1; }

.questions-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden; }

.questions-conetent {
  width: 100%;
  height: 100%;
  z-index: 88;
  position: absolute; }
  .questions-conetent .team {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; }
    .questions-conetent .team div {
      -webkit-box-flex: 1.0;
      box-flex: 1.0;
      text-align: center;
      padding: .7rem 0; }
      .questions-conetent .team div b {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 4rem;
        background: #ccc;
        display: inline-block; }
      .questions-conetent .team div span {
        display: block;
        margin-top: 10px;
        font-size: 10pt; }
    .questions-conetent .team.team3 div b, .questions-conetent .team.team4 div b {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border-radius: 3rem; }

@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone4/4s */
  .questions-conetent {
    bottom: -11.4rem; } }
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone5 */
  .questions-conetent {
    bottom: -17rem; } }
@media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone6 */
  .questions-conetent {
    bottom: -23rem; } }
@media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone6 Plus */
  .questions-conetent {
    bottom: -27rem; } }
@media (max-width: 500px) {
  .current-question {
    height: 4rem;
    line-height: 4rem; } }
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .current-question {
    height: 5rem;
    line-height: 5rem; } }
@media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone6 Plus */
  header {
    height: 21rem; }
    header .survey-name {
      width: 90%;
      max-height: 16rem; }

  #survey-explain {
    min-height: 10rem; }

  .questions {
    bottom: 48%; } }
@media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone6 */
  header {
    height: 21rem; }
    header .survey-name {
      width: 90%;
      max-height: 16rem; }

  #survey-explain {
    min-height: 10rem; }

  .questions {
    bottom: 50%; } }
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone5 */
  header {
    height: 21rem; }
    header .survey-name {
      width: 90%;
      max-height: 16rem; }

  #survey-explain {
    min-height: 10rem; }

  .questions {
    bottom: 50%; }

  .questions.off {
    -webkit-transform: translateY(75%); }

  .common-content.show {
    -webkit-transform: translateY(-68%); }

  .quota .quota-num {
    padding: 3rem 0; }

  .red-option {
    padding: 1.5rem; }
    .red-option .f13 {
      text-align: center;
      margin: 2.5rem 0;
      margin-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1.5em;
      color: 888; }
    .red-option .content b {
      margin: 1rem 0; } }
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone4/4s */
  header {
    height: 21rem; }
    header .survey-name {
      width: 90%;
      max-height: 100px; }

  #survey-explain {
    min-height: 9rem; }

  .questions {
    bottom: 50%; }

  .questions.off {
    -webkit-transform: translateY(75%); }

  .common-content.show {
    -webkit-transform: translateY(-68%); }

  .questions li {
    padding-top: 4%;
    margin-bottom: 4%; }
    .questions li .icon-bg {
      width: 4.4rem;
      height: 4.4rem;
      line-height: 5.4rem;
      border-radius: 4.4rem; }
      .questions li .icon-bg.changyong {
        line-height: 6.1rem; }

  .common-content .common {
    padding-top: 1%;
    width: 85%; }
    .common-content .common li .common-icon-bg {
      width: 3.4rem;
      height: 3.4rem;
      line-height: 4.1rem;
      border-radius: 3.4rem; }
      .common-content .common li .common-icon-bg .icon {
        font-size: 13pt; } }
