
	

<template name="testaaaaa">
    <div class="share-content">
    <div class="share-top" >
        <img src="/image/villi/sharetop.png"  >
     </div>
    <div class="share-binding">
    <div class="share-middle">
            <div class="content">关注公众并绑定手机即可获得<span> 1元 </span>红包</div>
            <img src="/image/villi/sharemoney.png"  >

        </div>

    </div>
    <div class="share-click">
         <div class="table">
             <div class="content">
                 <div></div>
                 <p><span class="dot">1</span> 分享问卷被点击即可获得<b>0.1元</b>红包，每日上限100人次点击 </p>
                 <p><span class="dot">2</span> 好友成功答题即可获得<b>0.1元</b>红包</p>
             </div>
         </div>
        <div class="tablebottom">
            <img src="/image/villi/tablebottom.png"  >
        </div>
    </div>
        <div class="share-bottom">
            <img src="/image/villi/sharebottom.png"  >
        </div>
    </div>

<!-- 
	  <div class="invitation">
	  	<h2 class="title">互联网用户体验调查问卷</h2>
	  	<div class="qr-code">
	  		
	  	</div>
	  	<div class="an"></div>
	  </div>
 -->

 <!--<div class="binding">-->
 	<!--<h2>绑定手机即可领取<b>￥1.00</b>元红包</h2>-->
 	<!--<p>-->
 		<!--<span class="input-wrap">-->
	 		<!--<input type="tel" placeholder="请输入手机号">-->
	 		<!--<a class="send" href="javascript:void(0);">发送验证码</a>-->
 		<!--</span>-->
 	<!--</p>-->
 	<!--<p>-->
 		<!--<span class="input-wrap error"> 		-->
 			<!--<input type="tel" placeholder="请输入验证码">-->
 			<!--<span class="num">30</span>-->
 			<!--&lt;!&ndash; <a class="restart" href="javascript:void(0);">重新发送</a> &ndash;&gt;-->
 		<!--</span>-->
 	<!--</p>-->
 	<!--<p>-->
 		<!--<a href="javascript:void(0);" class="btn submit blue">领取红包</a>-->
 		<!--<a href="javascript:void(0);" class="btn error">验证码错误</a>-->
 	<!--</p>-->
 <!--</div>-->
</template>
