<template name="test3">
	<div class="questions-wrap">
		<div class="questions-conetent">
			<div class="team team1">
				<div>
					<b>1</b>
					<span>名称</span>
				</div>
				<div>
					<b>2</b>
					<span>名称</span>
				</div>
				<div>
					<b>3</b>
					<span>名称</span>
				</div>
			</div>
			<div class="team team2">
				<div>
					<b>4</b>
					<span>名称</span>
				</div>
				<div>
					<b>5</b>
					<span>名称</span>
				</div>
				<div>
					<b>6</b>
					<span>名称</span>
				</div>
			</div>
			<div class="team team3">
				<div>
					<b>1</b>
					<span>名称</span>
				</div>
				<div>
					<b>2</b>
					<span>名称</span>
				</div>
				<div>
					<b>3</b>
					<span>名称</span>
				</div>
				<div>
					<b>4</b>
					<span>名称</span>
				</div>
			</div>
			<div class="team team4">
				<div>
					<b>5</b>
					<span>名称</span>
				</div>
				<div>
					<b>6</b>
					<span>名称</span>
				</div>
				<div>
					<b>7</b>
					<span>名称</span>
				</div>
				<div>
					<b>8</b>
					<span>名称</span>
				</div>
			</div>
		</div>
		
	</div>
	<div class="cancel-question">
			<a href="javascript:void(0);" class="cancel-btn">取消</a>
		</div>
	<div class="shadow"></div>
</template>
